body {
	margin: 0;
	padding: 0;
}

@-webkit-keyframes spinner {
	0% { -webkit-transform: rotate(360deg); } /* anti-clockwise */
	100% { -webkit-transform: rotate(0deg); }
}

#spinner {
	background-position: center top;

	position: absolute;
	display: inline-block;
	left: 50%;
	top: 75%;
	margin: -64px 0 0 -64px;

	-webkit-animation: spinner 2s infinite linear;
	z-index: 1;
}




@-webkit-keyframes icon {
	0% {
		margin-top: 0px;
		opacity: 1;
	}

	100% {
		margin-top: -80px;
		opacity: 0;
	}
}
